*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size-adjust: 10px;
    box-sizing: border-box;
}

body{
    margin: 50px 0;
    overflow: hidden;
}

img{
    width: 150px;
    height: 100px;
}

.hamburger{
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.hamburger .user{
    font-size: 3rem;
}

.hamburger:focus{
    outline: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content li{
    display: flex;
    font-size: 2rem;
    text-transform: capitalize;
    list-style-type: none;
    padding: 12px 18px;
}

.dropdown-content li ion-icon{
    font-size: 1rem;
    align-self: center;
    padding-right: 7px;
}

.dropdown-content{
    display: none;
    margin-top: 10px;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 25vw;
    height: fit-content;
}

.dropdown-content li:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header nav{
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 100vw;
    z-index: 1;
    height: fit-content;
    background-attachment: fixed;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.grid{
    display: grid;
    grid-template-columns: 50px 50px;
}

.user1, .cart{
    font-size: 2rem;
    margin-top: 29px;
}

.notification{
    position: relative;
}

.notification .badge {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 2px 2px;
    border-radius: 50%;
    background: red;
    color: white;
  }

  @media screen and (max-width: 767px){

    img{
        width: 100px;
        height: 50px;
        margin-top: 15px;
    }
    
    .hamburger .user{
        font-size: 2rem;
    }
    
    
    .dropdown:hover .dropdown-content {
        display: none;
    }
    
    header nav{
        display: grid;
        grid-template-columns: 3fr 1fr;
        width: 100vw;
        z-index: 1;
        height: fit-content;
        background-attachment: fixed;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .grid{
        display: grid;
        grid-template-columns: 35px 35px;
    }
    
    .user1, .cart{
        font-size: 1.5rem;
        margin-top: 29px;
    }

    
    .notification .badge {
        padding: 1px 1px;
      }
  }

/* 

aside nav ul{
    font-size: 1.5rem;
    padding: 50px;
    flex-direction: column;
    height: 70vh;
    max-width: 100%;
    width: 30%;
    margin-top: 3%;
    background: #fafafa;
    box-shadow:  20px -20px 60px #d5d5d5, 
             -20px 20px 60px #ffffff;
             display: none;
}

.show li{
    display: flex;
    align-items: center;
    list-style-type: none;
    position: relative;
    /* cursor: pointer; 
    padding: 8px;
    transition: color .3s;


}

li ion-icon{
    margin-left: 3px;
}

li h6{
    font-size: 1.2rem;
}

  li:hover{
    color: rgb(218, 214, 214);
}

.show li::after{
    content: '';
    position:absolute;
    bottom:0;
    left:0;
    width: 30%;
    height:2px; 
    background-color:black;
    transform:scaleX(0);
    transition:all .5s;
    transform-origin:left;
}



.show li:hover:before, .show li:hover:after {
    transform:scale(1);
}

.hamburger{
    background-color: transparent;
    color: black;
    border: none;
    margin-top: -20px;
}
 li::selection{
     outline: none;
     background-color: transparent;
 }
button:focus{
    outline: none;
}

.hamburger:focus, .show:focus{
    outline: 0;
} 

.myside{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color:   white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .side{
    position: absolute;
    display: flex;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .side a{
      width: 10%;
  }

  #main {
    transition: margin-left .5s;
    padding: 20px;
  }



@media screen and (max-width: 320px){
    img{
        width: 50px;
        height: 30px;
        margin-top: 9px;
    }

    .user{
        font-size: .8rem;
    }

    .user1,.cart{
        margin-top: 7px;
    }
    
    header nav{
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 100vw;
    }
    
    .user{
        font-size: 2.5rem;
        margin-top: 10px;
    }
    
    .grid{
        display: grid;
        grid-template-columns: 50px 50px;
    }

    .show{
        display: flex;
    }

     .user2{
        margin-top: 6px;
    } 

    aside nav ul{
        font-size: 1.2rem;
        padding: auto;
        flex-direction: column;
        width: 50vw;
        height: 70vh;
        margin-top: 20px;
    }

    aside nav ul   li::after{
        width: 50%;
    }

    .notification .badge {
        top: 5px;
        right: 20px;
        padding: 2px;
        border-radius: 50%;
        background: red;
        color: white;
      }
    
}


@media screen and (max-width: 767px){
    img{
        width: 100px;
        height: 50px;
        margin-top: 17px;
    }

    .user{
        font-size: 1.7rem;
    }

    .user1,.cart{
        margin-top: 10px;
    }

    .show{
        display: flex;
    }

     .user2{
        margin-top: 5px;
    } 

    aside nav ul{
        font-size: 1.5rem;
        padding: auto;
        flex-direction: column;
        width: 50vw;
        height: 70vh;
        margin-top: 20px;
    }

    aside nav ul li::after{
        width: 50%;
    }

    
      .notification .badge {
        top: 5px;
        right: 20px;
        padding: 2px;
        border-radius: 50%;
        background: red;
        color: white;
      }
    
}

@media screen and (min-width: 767px){
    .show{
        display: flex;
    }

} */