*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size-adjust: 10px;
    box-sizing: border-box;
}

body{
    margin: 50px 100px;
}

img{
    width: 150px;
    height: 100px;
}

header nav{
    display: grid;
    grid-template-columns:50px 3fr 70px 50px;
}

.user{
    font-size: 30px;
    margin-top: 10px;
}

aside nav ul{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 20px;
    background: #fafafa;
    box-shadow:  20px -20px 60px #d5d5d5, 
             -20px 20px 60px #ffffff;
             display: none;
}

li{
    display: flex;
    align-items: center;
    list-style-type: none;
    position: relative;
    cursor: pointer;
    padding: 8px;
    transition: color .3s;


}

li ion-icon{
    margin-left: 3px;
}

li h6{
    font-size: 1.2rem;
}

.notification{
    position: relative;
}

.notification .badge {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 5px;
    border-radius: 50%;
    background: red;
    color: white;
  }

  li:hover{
    color: rgb(218, 214, 214);
}

li::after{
    content: '';
    position:absolute;
    bottom:0;
    left:0;
    width: 30%;
    height:2px; 
    background-color:black;
    transform:scaleX(0);
    transition:all .5s;
    transform-origin:left;
}



li:hover:before, li:hover:after {
    transform:scale(1);
}

.hamburger{
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: none;
}
 li::selection{
     outline: none;
     background-color: transparent;
 }
a{
    text-decoration: none;
}

.hamburger:focus, .show:focus{
    outline: 0;
} 



@media screen and (max-width: 1500px){
    .show{
        width: 100%;
        display: display;
    }
}